<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">基本信息
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-2">项目名称</div> <div class="col-md-10">CNDN中心系统</div>
                <div class="col-md-2">项目代号</div> <div class="col-md-10">WZ—CS</div>
                <div class="col-md-2">起止时间</div> <div class="col-md-10">2016-06-13 ~ 2016-07-14</div>
                <div class="col-md-2">可用工作日</div> <div class="col-md-10">24</div>
                <div class="col-md-2">项目类型</div> <div class="col-md-10">短期项目</div>
                <div class="col-md-2">项目状态</div> <div class="col-md-10">已延期</div>
                <div class="col-md-2">项目负责人</div> <div class="col-md-10">Wang</div>
                <div class="col-md-2">产品负责人</div> <div class="col-md-10">Lee</div>
                <div class="col-md-2">测试负责人</div> <div class="col-md-10">Gu</div>
                <div class="col-md-2">发布负责人</div> <div class="col-md-10">Lili</div>
                <div class="col-md-2">相关产品</div> <div class="col-md-10">CNDN project</div>
                <div class="col-md-2">访问控制</div> <div class="col-md-10">默认设置(有项目视图权限，即可访问) </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">CNDN中心系统
                    <span class="pull-right">分支PM：caly</span>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>版本</th>
                            <th>路径</th>
                            <th>分支CMO</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                服务搜索[1.5.5]
                            </td>
                            <td>
                                http://192.168.130.17/svn/code/branches/CNDD_V2.0.0
                            </td>
                            <td>
                                cidy
                            </td>
                            <td>
                                已封版
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{'active': selectedTab==1}"><a ui-sref="VersionBranchBasic" ng-click="selectedTab=1">分支基本信息</a></li>
            <li ng-class="{'active': selectedTab==2}"><a ui-sref="VersionBranchAuth" ng-click="selectedTab=2">分支权限</a></li>
            <li ng-class="{'active': selectedTab==3}"><a ui-sref="VersionBranchPerson" ng-click="selectedTab=3">分支发布人员</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div ui-view></div>
    </div>
</div>