@charset "utf-8";
html,.body { width:100%; height:100%; font-family:Arial,Helvetica,"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1; font-size:75%; line-height:1.5; color:#000; overflow:hidden; }
body { background:#FFD172 url("../images/bg.png") repeat-y; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
img { border:none; vertical-align:middle; }
.clearfix:after { content:"."; clear:both; display:block; height:0; font-size:0; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix,
* html { height:1%; }
.clearfix { display:block; }
.clear { clear:both; height:0; height:1%; font-size:0; line-height:0; border-top:1px solid transparent!important; border-top:0; }
.word { word-break:break-all; }
.text { text-overflow:ellipsis; white-space:nowrap; }
.hide { display: none;}

/* arrow */
.arrow-up { position:absolute; right:20px; bottom:15%; z-index:99; width:42px; height:auto; }
.pt-page-moveIconUp { animation: moveToBottom ease 1.5s both infinite; -webkit-animation: moveIconUp ease 1.5s both infinite; }
.pt-page-moveCircle { animation: moveCircle ease-in-out 1.2s both; -webkit-animation: moveCircle ease-in-out 1.2s both; }

/* page */
.page { position:absolute; width:100%; height:100%; text-align:center; }
.page-current { z-index:1; }
.slideitem { position:relative; text-align:center; overflow:hidden; }

/* pop */
#page-pop { visibility:hidden; z-index:99; position:absolute; width:100%; }
.pop-mask { width:100%; background-color:rgba(0,0,0,0.5); position: absolute; left:0; top:0; z-index: 1;}

/* page1 */
.p1-1 { position:absolute; top:20px; left:20px; }
.p1-2 { position:absolute; top:10px; right:10px; }
.p1-3 { margin-top:50px; text-align:center; }
.p1-4-5 { margin-top:5px; font-weight:bold; color:#421C08; line-height:180%; }
.p1-4-5 span { vertical-align:middle; }
.p1-6 { margin-top:5px; }
.p1-7 { position:absolute; bottom:15%; left:5%; }

/* page2 */
.p2-1 { margin-top:10%; }
.p2-5 { position:absolute; bottom:60px; left:0; width:100%; }
.p2-5 img { width:100%; }

/* page3 */
.p3-1 { margin-top:15%; }
.p3-2 { margin-top:20%; }
.p3-3 { position:absolute; bottom:60px; left:0; width:100%; }
.p3-3 img { width:100%; }

/* page4 */
.p4-1 { margin-top:15%; text-align:right; }
.p4-2 { margin-top:-5%; }
.p4-3 { margin-top:3%; }
.p4-4 { margin-top:5%; }
.p4-5 { position:absolute; bottom:60px; left:0; width:100%; }
.p4-5 img { width:100%; }

/* page5 */
.p5-1 { position:absolute; top:20px; right:20px; }
.p5-2 { margin-top:20%; }
.p5-3 { position:relative; width:320px; height:412px; margin:3% auto 0; background:url("../images/p5-6.png") no-repeat center top; background-size:320px; height:412px; }
.p5-3 p { padding-top:78px; }
.p5-3 p span { display:block; width:235px; margin:0 auto; text-indent:-9999em; overflow:hidden; }
.p5-3 p span.answer-a { height:24px; }
.p5-3 p span.answer-b { height:40px; }
.p5-3-current { background-image:url("../images/p5-6-hover.png"); }

/* 问答 */
.qna .logo { position:absolute; top:20px; right:20px; }
.qna-q { margin-top:20%; }
.qna-a { width:320px; height:335px; margin:3% auto 0; padding-top:78px; background-repeat:no-repeat; background-position:center top; background-size:320px; }
.qna-a span { display:block;text-indent:-9999em; overflow:hidden; }
/* 问答1 */
.qna1 { background-image:url("../images/qna1.png"); }
.qna1-current { background-image:url("../images/qna1-hover.png"); }
.qna1 span {  width:235px; margin:0 auto; }
.qna1 .answer-a { height:24px; }
.qna1 .answer-b { height:40px;margin-top: 10px;}
/* 问答2 */
.qna2 { background-image:url("../images/qna2.png"); }
.qna2-current { background-image:url("../images/qna2-hover.png"); }
.qna2 span {  width:250px; margin-left:50px; }
.qna2 .answer-a { height:24px; }
.qna2 .answer-b { height:24px; margin-top: 10px;}
/* 问答3 */
.qna3 { background-image:url("../images/qna3.png"); }
.qna3-current { background-image:url("../images/qna3-hover.png"); }
.qna3 span {  width:235px; margin:0 auto; }
.qna3 .answer-a { height:44px; }
.qna3 .answer-b { height:20px; margin-top: 5px;}
/* 问答提醒 */
.qna-error { background-image:url("../images/qna-error.png"); }
.qna-end { background-image:url("../images/qna-end.png"); }
.qna-close { position:absolute; left:38px; bottom:30px; display:block; width:65px; height:25px; }

/* page8 */
.p8-1 { position:absolute; top:10px; right:10px; }
.p8-2 { margin-top:28%; }
.p8-3 { margin-top:12%; }
.p8-4 { position:absolute; left:20px; bottom:10%; }
.p8-pop-close { position:absolute; bottom:32px; right:28px; display:block; width:55px; height:22px; }

/* 奖品 */
.bonus-1,
.bonus-2,
.bonus-4,
.bonus-5 { width:251px; padding:0 5px; text-align:left; }
.bonus-1 { margin:18% auto 0;}
.bonus-2 { margin:16% auto 0; }
.bonus-3 { width:261px; margin:5% auto 0; }
.bonus-3 input { width:261px; height:35px; font-size:20px; line-height:35px; text-align:center; border:none; background:url("../images/bonus-3.png") no-repeat; background-size:261px 35px; }
.bonus-4 { margin:10% auto 0; }
.bonus-5 { margin:10% auto 0; text-align:right; }
.bonus-point { white-space:261px; margin:10% auto 0; text-align:center; }
.btn-bonus { width:83px; height:35px; text-indent:-9999em; border:none; background:url("../images/bonus-5.png") no-repeat; background-size:83px 35px; overflow:hidden; }

/* page10 */
.p10-1 { margin-top:15%; }
.p10-2 { margin-top:10%; }
.p10-3 { margin-top:10%; }
.p10-close { position:absolute; top:20px; right:20px; }
.p10-close img { width:30px; height:30px; }

/* loading */
#loading { display:block; position:absolute; left:0; top:0; z-index:9999; width:100%; height:100%; color:white; font-size:1em; text-align:center; background-color:#0054A6; overflow:hidden; }
.spinner { position: relative; top:40%; margin:0 auto; width:60px;  height:60px; }
.container1 > div, .container2 > div, .container3 > div { position:absolute; width:15px; height:15px;  border-radius:100%; -webkit-animation:bouncedelay 1.2s infinite ease-in-out; animation:bouncedelay 1.2s infinite ease-in-out; -webkit-animation-fill-mode:both; animation-fill-mode:both; background-color:#fff; }
.spinner .spinner-container { position:absolute; width:100%; height:100%; }
.container2 { -webkit-transform:rotateZ(45deg); transform:rotateZ(45deg); }
.container3 { -webkit-transform:rotateZ(90deg); transform:rotateZ(90deg); }
.circle1 { top:0; left:0; }
.circle2 { top:0; right:0; }
.circle3 { right:0; bottom:0; }
.circle4 { left:0; bottom:0; }
.container2 .circle1 { -webkit-animation-delay:-1.1s; animation-delay:-1.1s; }
.container3 .circle1 { -webkit-animation-delay:-1.0s; animation-delay:-1.0s; }
.container1 .circle2 { -webkit-animation-delay:-0.9s; animation-delay:-0.9s; }
.container2 .circle2 { -webkit-animation-delay:-0.8s; animation-delay:-0.8s; }
.container3 .circle2 { -webkit-animation-delay:-0.7s; animation-delay:-0.7s; }
.container1 .circle3 { -webkit-animation-delay:-0.6s; animation-delay:-0.6s; }
.container2 .circle3 { -webkit-animation-delay:-0.5s; animation-delay:-0.5s; }
.container3 .circle3 { -webkit-animation-delay:-0.4s; animation-delay:-0.4s; }
.container1 .circle4 { -webkit-animation-delay:-0.3s; animation-delay:-0.3s; }
.container2 .circle4 { -webkit-animation-delay:-0.2s; animation-delay:-0.2s; }
.container3 .circle4 { -webkit-animation-delay:-0.1s; animation-delay:-0.1s; }
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform:scale(0.0) }
  40% { -webkit-transform:scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform:scale(0.0);
    -webkit-transform:scale(0.0);
  } 40% {
    transform:scale(1.0);
    -webkit-transform:scale(1.0);
  }
}

