<div class="container-wrapper">

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>创建版本</h3>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">

            <form name="versionform" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="sysCnname" placeholder="系统名称" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="reposName" placeholder="代码库" required />
                </div>
                <div class="form-group">
                <input type="button" class="btn btn-primary" ng-disabled="versionform.$invalid" ng-click="add()" value="创建" /> 
                </div>
            </form>
        </div>
    </div>
</div>