<div class="container-wrapper">

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>创建版本</h3>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
            <input type="text" ng-model="sysCnname" placeholder="版本号" required/>
            <input type="text" ng-model="reposName" placeholder="代码库" required/>
            <input type="button" ng-click="add()" value="创建" /> 
            </div>
        </div>
    </div>
</div>